SUPABASE_ACCESS_TOKEN=pega_aqui_tu_access_token_cli
AEMET_OPENDATA_API_KEY=pega_aqui_tu_api_key_aemet
METEOBLUE_API_KEY=pega_aqui_tu_api_key_meteoblue
METEOSOURCE_API_KEY=pega_aqui_tu_api_key_meteosource
METEOSTAT_API_KEY=pega_aqui_tu_rapidapi_key_meteostat
METEOSTAT_API_HOST=meteostat.p.rapidapi.com
